<div class="form-group search-box">
  <label for="search">Search</label>
  <input
    type="text"
    class="form-control"
    name="search"
    id="search"
    [(ngModel)]="productname"
    (keyup)="search()"
  />
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="categoryd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CategoryId</th>
    <td mat-cell *matCellDef="let element">{{ element.categoryd }}</td>
  </ng-container>
  <ng-container matColumnDef="categoryname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>categoryName</th>
    <td mat-cell *matCellDef="let element">{{ element.categoryname }}</td>
  </ng-container>

  <ng-container matColumnDef="productname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ProductName</th>
    <td mat-cell *matCellDef="let element">{{ element.productname }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
    <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>
  <ng-container matColumnDef="reviews">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reviews</th>
    <td mat-cell *matCellDef="let element">{{ element.reviews }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"> </mat-paginator>
